*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-container{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    
}


.dashboard-header{
    width: 100%;
    height: 7vh;
    border: 1px solid #C7BEBE;
    display: flex;
    justify-content: center;
    /* padding-left: 20px;     */
    /* padding-left: 70px; */
    /* padding-right: 70px; */
}

.header-text{
    width: 9%;
    /* border: 2px solid red; */
   text-align: center;
   align-content: center;
   cursor: pointer;
   margin-left: 10px;
}

.header-text:hover{
    background: rgba(128, 128, 128, 0.552);
}




.dashboard{
    width: 100%;
    height: 92vh;
    /* border: 2px solid green; */
    display: flex;

}
.dashboard-sidebar{
    width: 18%;

    height: 92.9vh;
  
    display: flex;
    flex-direction: column;
    background: #252525;
    color: white;
    
}

.dashboard-sidebar ul{
   
    list-style: none;
    width: 100%;
    /* padding: 20px; */
    height: auto;
    /* border: 2px solid black; */
    transition: background-color 0.3s ease;
    /* padding-left: 20px; */
    margin-top: 30px;
   
    
}
.dashboard-sidebar ul li{
    /* border-top: 1px solid #C7BEBE; */
    /* border-bottom: 1px solid #C7BEBE; */
    
     height: 7vh;
     align-content: center;
     padding-left: 40px;
     margin-top: 10px;
     cursor: pointer;
}
.dashboard-sidebar ul li:hover{
    background: rgba(128, 128, 128, 0.552);
}

.dashboard-content{
    width: 100%;
    height: 92.9vh;
    /* border: 2px solid blue; */
    padding: 20px;
    background-color: #f4f4f4;
}